.comment{
    max-height: 45Svh;
    overflow-y: scroll;
}
/* .comment::-webkit-scrollbar{
    display: none;
} */
.commentInput{

    border:none;
    outline: none;
    padding: 5px;
    width: 100%;
}
